
MachineEpsilon/.vs/MachineEpsilon/v15/Browse.VC.opendb
*.opendb
EnergyLevels/.vs/EnergyLevels/v15/Browse.VC.db
CauchyProblem/sciplot/ColumnIndex.hpp
CauchyProblem/sciplot/Constants.hpp
CauchyProblem/sciplot/Default.hpp
CauchyProblem/sciplot/Enums.hpp
CauchyProblem/sciplot/Figure.hpp
CauchyProblem/sciplot/Palettes.hpp
CauchyProblem/sciplot/Plot.hpp
CauchyProblem/sciplot/Plot3D.hpp
CauchyProblem/sciplot/PlotBase.hpp
CauchyProblem/sciplot/sciplot.hpp
CauchyProblem/sciplot/specs/AxisLabelSpecs.hpp
CauchyProblem/sciplot/specs/BorderSpecs.hpp
CauchyProblem/sciplot/specs/DepthSpecsOf.hpp
CauchyProblem/sciplot/specs/DrawSpecs.hpp
CauchyProblem/sciplot/specs/FilledCurvesSpecsOf.hpp
CauchyProblem/sciplot/specs/FillSpecsOf.hpp
CauchyProblem/sciplot/specs/FillStyleSpecs.hpp
CauchyProblem/sciplot/specs/FontSpecsOf.hpp
CauchyProblem/sciplot/specs/FrameSpecsOf.hpp
CauchyProblem/sciplot/specs/GridSpecs.hpp
CauchyProblem/sciplot/specs/GridSpecsBase.hpp
CauchyProblem/sciplot/specs/HistogramStyleSpecs.hpp
CauchyProblem/sciplot/specs/LabelSpecs.hpp
CauchyProblem/sciplot/specs/LegendSpecs.hpp
CauchyProblem/sciplot/specs/LineSpecsOf.hpp
CauchyProblem/sciplot/specs/OffsetSpecsOf.hpp
CauchyProblem/sciplot/specs/PointSpecsOf.hpp
CauchyProblem/sciplot/specs/ShowSpecsOf.hpp
CauchyProblem/sciplot/specs/Specs.hpp
CauchyProblem/sciplot/specs/TextSpecsOf.hpp
CauchyProblem/sciplot/specs/TicsSpecs.hpp
CauchyProblem/sciplot/specs/TicsSpecsBaseOf.hpp
CauchyProblem/sciplot/specs/TicsSpecsMajor.hpp
CauchyProblem/sciplot/specs/TicsSpecsMinor.hpp
CauchyProblem/sciplot/specs/TitleSpecsOf.hpp
CauchyProblem/sciplot/StringOrDouble.hpp
CauchyProblem/sciplot/Utils.hpp
CauchyProblem/sciplot/Vec.hpp
